<section class="hero is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">${title}</h1>
        </div>
    </div>
</section>

<br/>
<div class="columns is-centered">
    <div class="column content is-half has-text-centered">
        <form action="/" method="POST">
            ${data.map(language => `
            <label>
                <p>${language.language_name} - I am <b>${language.rank_name}</b> at ${language.language_name}</p>
                <select name="${language.language_name}">
                    <option value=''>Update ${language.language_name} ranking</option>
                    <option value=1>Awesome</option>
                    <option value=2>Great</option>
                    <option value=3>Good</option>
                    <option value=4>Okay</option>
                    <option value=5>Poor</option>
                    <option value=0>Unranked</option>
                </select>
            </label><br/>`).join('')}
            <button type="submit">Submit Data</button>
        </form>
    </div>
</div> 